body {
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
    margin-top: 30px;
    
}
.text-center {
    text-align: center!important;
    
}
main {
    display: block;
    outline: 4px dotted  rgb(120, 26, 123);
    outline-offset: 30px;
    border: 2px  solid #553e58;
    border-radius: 15px 50px 30px;
    background-image: linear-gradient(to bottom right, rgb(54, 54, 54), rgb(120, 26, 123));
    margin-bottom: 10px;
    
}
*, ::after, ::before {
    box-sizing: border-box;
}
.w-100 {
    width: 100%!important;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
}
.m-auto {
    margin: auto!important;
}

#check{
    margin-left: 75px;
    margin-right: 10px;
}

#boton{
    transition-duration: 0.4s;
    background-color: #0e0e0e;
    border-color: #0e0e0e;
    color: white;
    }
    
    #boton:hover{
    background-color: #9909af;
    color: white;
    }