section{
    background-color: #1e1e1e;
}
header{
    background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMThiYXRjaDcta2F0aWUtMzguanBn.jpg");
    background-size: contain;
    background-repeat: repeat-x;
}

#logotipo{
    display: flex;
    padding: 0;
    column-width: auto;
    height: 90px;
    
}

#logo{
    align-self: center;
    height: 100px;
    width: 150px;
    
}

#Banner{
display: flex;
column-width: auto;
height: 150px;
padding: 0;
text-align: center;

}

h1{
    align-self: center;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    color: #e0dfdc;
letter-spacing: .1em;
text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.redesSociales{
    text-align: center;
    padding-top: 5px;
    height: 45px;
    outline: 2px dashed #d4d7d9;
    outline-offset: 0px;
}
#Redes{
    width: 150px;
}

#botonDiv{
    text-align: center;
    align-self: center;
}


#present{
text-align: center;

}

#foto{
    width: 230px;


}

#tituloD{
    color: rgb(12, 12, 12);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    font-size: large;
    text-align: center;
    text-shadow: 2px 2px 0 #7f8784, 4px 4px 0 #313433, 2px 2px 2px rgba(3, 3, 3, 0);
    color: #FFFFFF;
}

#left{

}
